#beeline li .h
.t{background-size:60px 90px}body{margin:10px;overflow:hidden}div{-webkit-tap-highlight-color:rgba(0,0,0,0)}#chart{position:relative;display:block;margin:auto auto auto auto;overflow:hidden;opacity:0}#chart
#aspectRatio{display:none;font-size:14pt;position:absolute;top:50%;left:50%;width:200px;margin-left:-100px;color:white;text-align:center;margin-top:-1em;z-index:20}#chart
form{position:absolute;right:8px;top:8px;z-index:10;-moz-transition:opacity 0.5s ease 0s;-webkit-transition:opacity 0.5s ease 0s;-o-transition:opacity 0.5s ease 0s;transition:opacity 0.5s ease 0s;opacity:0}#chart
#fadeChart{position:absolute;background-color:rgba(0,0,0,0.6);top:0;width:100%;height:100%;z-index:8;-moz-transition:opacity 1s ease 0s;-webkit-transition:opacity 1s ease 0s;-o-transition:opacity 1s ease 0s;transition:opacity 1s ease 0s;opacity:0}#chart #nav-buttons{position:absolute;font-weight:bold;font-size:20px;top:50%;margin-top:-4.75em;width:100%;z-index:15}#chart #nav-buttons
div{cursor:pointer;padding:4em
0.75em 4em 0.75em;text-decoration:none;-moz-transition:opacity 0.5s ease 0s;-webkit-transition:opacity 0.5s ease 0s;-o-transition:opacity 0.5s ease 0s;transition:opacity 0.5s ease 0s;opacity:1}#chart #nav-buttons
div.disabled{display:none}#chart #nav-buttons.faded
div{opacity:0}#chart #nav-buttons
div.prev{float:left;margin-left:0}#chart #nav-buttons
div.next{float:right;margin-right:0}#timelineCanvas{z-index:1}#chart
img.eventImage{position:absolute;width:100%;height:100%;z-index:2;-moz-transition:opacity 1s ease 0s;-webkit-transition:opacity 1s ease 0s;-o-transition:opacity 1s ease 0s;transition:opacity 1s ease 0s;opacity:0}#chart
img.displaying{opacity:1}#beeline{position:absolute;cursor:pointer;height:45px;width:100%;bottom:-40px;z-index:9}div
#cursor{top:-10%;height:110%;width:2px;-webkit-box-shadow:rgba(0, 0, 0, 0.199219) 1px 1px 2px;position:absolute;border-bottom:none;z-index:10}#beeline
ul{padding:0;margin:0}#beeline
li{display:block;position:absolute;height:100%;border-bottom:none}#beeline
li.invisible{display:none}#beeline li
.h{display:none;font-size:11px;line-height:1.3}#beeline li.hover
.h{display:block;position:absolute;bottom:120%}#beeline li .h h2 a,
#beeline li .h
h2{font-size:13px;color:white;max-width:300px;overflow:visible;white-space:nowrap;float:left;clear:left;text-decoration:none;font-weight:normal;margin-top:2px}#beeline li .h.right
h2{clear:right;float:right;text-align:right}#beeline li .h
.d{font-size:11px;color:rgba(255,255,255,0.8);max-width:300px;margin-top:-13px;white-space:nowrap;float:left;clear:left}#beeline li .h.right
.d{position:relative;clear:right;float:right;right:0}#beeline li .h
.t{position:absolute;left:-35px;float:left;margin-right:15px;margin-top:-1px;width:30px;height:30px}#beeline li .h.stacked
.t{position:absolute;bottom:33px;left:0}#beeline li .h.right
.t{right:0;bottom:33px;left:auto;margin-right:0px}.t{background-image:url('../i/thumbs.jpg')}@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){.t{background-image:url('../i/thumbs@2x.jpg')}}#beeline
.tg{display:none}